@import "bourbon"
@import "vars.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.mm-menu
  .fa
    display: none
  &.mm-offcanvas
    z-index: 4

.sect-services
  background-color: #efefef
  .col-md-3
    padding: 0

.service-item
  padding-bottom: 32px
  border: 5px lighten($main-color, 6%) solid
  background-color: #fff
  text-align: center
  transition: all .5s ease
  &:hover
    border-color: $accent-color
    box-shadow: rgba(0,0,0, .35) 0 0 32px
    transform: scale(1.05)
    z-index: 2
    .service-item-image
      .fa
        opacity: .4
      &::before
        opacity: .7
    .service-item-stars
      color: $accent-color
      .fa
        margin: 0 3px
  h4
    font-size: em(18px)
    margin-bottom: 10px
  &-image
    position: relative
    min-height: 190px
    background-size: cover
    cursor: pointer
    .fa
      position: absolute
      top: 50%
      left: 50%
      font-size: 30px
      color: #fff
      margin-top: -10px
      margin-left: -10px
      opacity: 0
      transition: all .5s ease
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $main-color
      opacity: 0
      transition: all .5s ease
  &-stars
    font-size: 11px
    color: #b4b4b4
    .fa
      margin-left: 1px
      transition: all .5s ease
  &-price
    margin-top: 5px
    margin-bottom: 26px
    font-family: "RobotoBold", sans-serif
    font-size: em(17px)
    span
      font-size: em(28px)
    .fa
      color: $accent-color
      font-size: 18px

.sect-universal
  position: relative
  background-color: #efefef
  padding: 60px 0
  background-size: cover
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .85
  h2
    margin-bottom: 45px
    font-size: em(40px)
    line-height: em(18px)

.sect-news
  background-image: url(../img/news-bg.jpg)
  color: #fff
  &::before
    background-color: $main-color

.new-item
  margin: 20px 0
  padding: 1px 1px 32px 1px
  background-color: #efefef
  text-align: center
  color: #111
  &-text
    margin-bottom: 25px
  .new-item-img
    &:hover
      &::before
        opacity: .7
      .fa
        opacity: .4
  &-img
    display: block
    min-height: 180px
    background-size: cover
    position: relative
    cursor: pointer
    .fa
      position: absolute
      top: 50%
      left: 50%
      font-size: 30px
      color: #fff
      margin-top: -10px
      margin-left: -10px
      opacity: 0
      transition: all .5s ease
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $main-color
      opacity: 0
      transition: all .5s ease
  h4,
  p
    padding: 0 20px
  p
    font-size: em(14px)
    margin-top: 0
    margin-bottom: 36px
  h4
    margin-bottom: 12px

.link-item
  display: block
  margin:
    bottom: 30px
    top: 15px
  padding: 14px
  border: 4px $accent-color solid
  background-color: #fff
  color: #111
  text-decoration: none
  &::after
    content: ''
    display: block
    clear: both
  img
    margin-right: 10px
    width: 34px
    height: auto
    float: left
  .h4
    text-decoration: underline
    line-height: 18px
    font-size: em(16px)
    display: block
  &:hover
    text-decoration: none
    .h4
      text-decoration: none


//ALWAYS END
@import "media"